{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<header id="main-navigation">
  <h1><a href="">Abhi's Blog</a></h1>
  <nav>
    <a href="">All Posts</a>
  </nav>
</header>

<section id="welcome">
  <header>
    <img src="{% static "blog/images/iron.jpg" %}" alt="Abhishek profile pic" />
    <h2>ABHISHEK'S BLOG</h2>
  </header>
  <p>Hi, I am Abhishek and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest BLOGS</h2>

  <ul>
    <li>
      <article class="post">
        <a href="">
          <img src="" alt="AI" />
          <div class="post__content">
            <h3>Artifical intelligence</h3>
            <p>“Artificial intelligence,” Alexa says, “is the ability of a computer program or a machine to think or learn.” What Alexa fails to mention is that she herself is a form of artificial intelligence.</p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>I love programming and solving real-life problems using technologies.</p>
  <p>My goal is to grow and learn new things as developer!!!</p>
</section>
{% endblock %}